<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <script>
        $(document).ready(function () {
            listing();
        });

        function listing() {
            $.ajax({
                type: 'GET',
                url: '/mypage',
                data: {},
                success: function (response) {
                    let rows = response['my_feeds']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let comment = rows[i]['comment']
                        let date = rows[i]['date']

                        let temp_html = `
                            <div id="${i}"> ## 내림차순을 위해 만들었으나 실패!
                            <p>${date}</p>
                            <p>${name}</p>
                            <p>${comment}</p>
                            </div>
            `
                        $('#feed-box').append(temp_html)
                    }
                }
            })
        }

        {#function delete_feed() {#}
        {#    $.ajax({#}
        {#        type: 'POST',#}
        {#        url: '/mypage',#}
        {#        data: {},#}
        {#        success: function (response) {#}
        {#        }#}
        {#    })#}
    </script>
</head>
<body>
<h1>mypage</h1>
<a href="/upload_page">업로드</a>
<a href="">수정</a>
<div class="feed">
    <div id="feed-box">
    </div>
</div>
</body>
</html>