<!doctype html>
<html lang="en">
    <head>
        <!-- 공통 -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/upload_img_and_writing_page_style.css">
        <script>
function DropFile(dropAreaId, fileListId) {
  let dropArea = document.getElementById(dropAreaId);
  let fileList = document.getElementById(fileListId);

  function preventDefaults(e) {
    e.preventDefault();
    e.stopPropagation();
  }

  function highlight(e) {
    preventDefaults(e);
    dropArea.classList.add("highlight");
  }

  function unhighlight(e) {
    preventDefaults(e);
    dropArea.classList.remove("highlight");
  }

  function handleDrop(e) {
    unhighlight(e);
    let dt = e.dataTransfer;
    let files = dt.files;

    handleFiles(files);

    const fileList = document.getElementById(fileListId);
    if (fileList) {
      fileList.scrollTo({ top: fileList.scrollHeight });
    }
  }

  function handleFiles(files) {
    files = [...files];
    files.forEach(previewFile);
  }

  function previewFile(file) {
    console.log(file);
    renderFile(file);
  }

  function renderFile(file) {
    let reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onloadend = function () {
      let img = dropArea.getElementsByClassName("preview")[0];
      img.src = reader.result;
      img.style.display = "block";
      console.log(img);
    };
  }

  dropArea.addEventListener("dragenter", highlight, false);
  dropArea.addEventListener("dragover", highlight, false);
  dropArea.addEventListener("dragleave", unhighlight, false);
  dropArea.addEventListener("drop", handleDrop, false);

  return {
    handleFiles
  };
}

const dropFile = new DropFile("drop-file", "files");
var preview_img = document.querySelector('#feed_image_file');

//업로드 버튼 누를때 파일 전송하는 함수
function posting() {
  let comment = $('#coment').val()
  let file = $('#chooseFile')[0].files[0]
  let form_data = new FormData()
  console.log(file);

  form_data.append("comment_give", comment)
  form_data.append("filename_give", file)

  if (!file) {
    alert('이미지를 업로드해 주세요.');
    return;
  }

  $.ajax({
      type: "POST",
      url: "/upload_page",
      data: form_data,
      cache: false,
      enctype: "multipart/form-data",
      contentType: false,
      processData: false,
      success: function (response) {
          alert(response["msg"])
          location.href = "../main_page"
      }
  });


}
        </script>
        <!-- title -->
        <title>moomingram</title>
    </head>
    <body>
        <div class="header">
            <img class="back-img" src="../static/images/back@3x.png">
            <p id="posting_text"><b>POSTing</b></p>
            <img class='upload_image' onclick="posting()" src="../static/images/plus.png">
        </div>
        <div class="screen">
            <div class="img-container">
                <div id="drop-file" class="drag-file">
                    <label class="file-label" for="chooseFile">
                    <img src="../static/images/upload.png" alt="파일 아이콘" class="image"></label>
                    <input class="file" id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)"
                        accept="image/png, image/jpeg, image/gif">

                    <img src="" alt="미리보기 이미지" class="preview">
                </div>
            </div>

            <div class="writing-container">
                <div class="content_text">CONTENT</div>
                <textarea name="content" id="comment" placeholder="게시글을 작성해주세요." required></textarea>
            </div>
        </div>
        <!-- 메뉴 -->
        <div class="mobile-footer">
            <button id="home_btn" class="home-btn" onclick="to_main()"></button>
            <button class="search-btn" onclick="to_search()"></button>
            <button class="plus-btn" onclick="to_upload()"></button>
            <button class="favorite-btn" onclick="to_favorite()"></button>
            <button class="my-page-img-btn" onclick="to_my_pg()"></button>
        </div>
        <!-- JS -->

    </body>
</html>